@import "tailwindcss";

.home-enter{
    background-image: url('../../assets/images/bg-homepage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

/* .teste{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 10rem;
    padding: 1rem;
    background: var(--text-color);
} */

.home-transition{
    background: #000;
}

.padding-is-not-working-and-i-dont-know-why{
    padding: 1rem;
}

.clicado{
   animation: fadein 1s ease-in-out forwards;
   animation-delay: 1.5s;
}

.teste{
    animation: middle-transition 2s;
}