@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
/* @font-face {
  font-family: "AppleGaramond";
  src: url('./assets/fonts/apple_garamond/AppleGaramond-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "AppleGaramond";
  src: url('./assets/fonts/apple_garamond/AppleGaramond-LightItalic.ttf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "AppleGaramond";
  src: url('./assets/fonts/apple_garamond/AppleGaramond.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "AppleGaramond";
  src: url('./assets/fonts/apple_garamond/AppleGaramond-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "AppleGaramond";
  src: url('./assets/fonts/apple_garamond/AppleGaramond-BoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "AppleGaramond";
  src: url('./assets/fonts/apple_garamond/AppleGaramond-Bold.ttf');
  font-weight: 700;
  font-style: bold;
} */


*{
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  letter-spacing: 0%;
  line-height: 100%;
}

<<<<<<< HEAD
body {
  height: 100vh;
=======
html, body{
  margin: 0;
  padding: 0;
  background: rgb(0, 0, 0);
}

@keyframes fadein {
  0% { 
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
  

}

@keyframes shine {
  0% {
    color: rgb(255, 255, 255, 0.353);
    text-shadow: rgb(255, 255, 255, 0.353) 1px 0 2px;
  }
  50% {
    color: rgb(255, 255, 255);
    text-shadow: rgb(255, 255, 255) 1px 0 5px;
  }
  
  100% {
    color: rgba(255, 255, 255, 0.353);
    text-shadow: rgb(255, 255, 255, 0.353) 1px 0 2px;
}
}

@keyframes middle-transition {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
>>>>>>> 1db148326808e4ef644f9b4b42acfc5c2b499169
}

:root {
  --text-color: #FFF;
}
