#Contatos {
    margin-left: 120px;
    margin-right: 105px;
}

#Contatos h2 {
    margin-bottom: 107px;
}

#Contatos .ajusta-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    line-height: 50px;
}

#Contatos .ajusta-container div p {
    line-height: 25px;
}

#Contatos .ajusta-container div div a {
    line-height: 25px;
}